:root {
    --col1: #d64045;
    --col2: #e9fff9;
    --col3: rgba(0,0,0,0);
    --col4: #467599;
    --col5: #1d3354;
    --height-of-navbar: 186.48px;
  }
  /* Navigation bar */
  .burger {
    display: none;
    cursor: pointer;
    padding: 8.5px 4px;
    z-index: 10;
    border-radius: 10px;
  }
  .burger div {
    background-color: black;
    width: 30px;
    height: 1px;
    margin: 7px;
    transition: all 0.3s ease;
  }
  .toggle .l1 {
    transform: rotate(-20deg) translate(-6px, 6px);
    background-color: white;
  }
  .toggle .l2 {
    opacity: 0;
  }
  .toggle .l3 {
    transform: rotate(20deg) translate(-6px, -6px);
    background-color: white;
  }
  
  @media screen and (max-width: 771px) {
    .mainnav {
      top: -100px;
      right: -200px;
      position: absolute;
      transition: all 150ms ease;
    }
    .burger {
      display: block;
    }
    .navbar-toggle {
      position: absolute;
      top: 17px;
      right: 5%;
    }
    .active {
      top: 0;
      right: 0;
      position: absolute;
      transition: all 150ms ease;
    }
  }