<footer>
    <div class="contact-row justify adjust">
        <p>linhhoang20@augustana.edu</p>
        <p>775-990-2639</p>
        <p><a href="http://">Behance</a></p>
        <p><a href="http://">Instagram</a></p>
    </div>
    <p class="tag-line justify adjust">let's make cool design & memories together</p>
    <div class="dark-row">
        <div class="justify adjust">
            <p class="position-text-box">&copy; 2022 linh hoang photography + design</p>
            <img src="img/footer-logo.svg" alt="linh hoang photography" />
            <p class="position-text-box">developed with ❤ by <a href="https://vietmbui.com/"
                    target="_blank">V.M.B.</a></p>
        </div>

    </div>
</footer>
