    <header>
        <!--BaseCode for Nav Bar-->
        <nav class="navbar hide">
            <div class="navcontent justify adjust">
                <a href="" class="nav-logo">
                    <img src="./img/logo.svg" alt="linh hoang design + photography" />
                </a>
                <div class="center">
                    <div class="navcontainer">
                        <a href="index.html" class="navlink middle-nav">DESIGN</a></li>
                        <a href="index.html" class="navlink middle-nav">PHOTOGRAPHY</a></li>
                    </div>
                </div>
                <div class="center">
                    <div class="burger navbar-toggle" id="js-navbar-toggle">
                        <div class="l1"></div>
                        <div class="l2"></div>
                        <div class="l3"></div>
                    </div>
                    <div class="navcontainer mainnav" id="menu">
                        <a href="index.html" class="navlink {% if page.title == "about" %}nav-active{% endif %}">about</a></li>
                        <a href="#contact" class="navlink">contact</a></li>
                    </div>
                </div>
            </div>
        </nav>
        </div>
    </header>
    