<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% seo %}
    <title>
        {{ site.title }}
        {% if page.title != "about" %}: 
            {{ page.title }}
        {% endif %}
    </title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!--CSS Link-->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsiveNavBar.css">
    <link rel="shortcut icon" href="img/footer-logo.svg" type="image/x-icon">
</head>

<body>

{% include header.html %}

<main class="justify adjust">

{{ content }}

</main>

{% include footer.html %}

<script src="js/responsiveNavBar.js"></script>
</body>

</html>